

<header>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active fw-bolder fs-3 text-center" href="{{ path('app_home')}}">Home</a>
        </li>

        {% if app.user.userIdentifier is defined %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_article_all') }}">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_article_add') }}">Ajouter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_categorie_showAll') }}">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        {% else %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_article_all')}}">Article</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_categorie_showAll')}}">Catégorie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_user_add') }}">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
        </li> 
        {% endif %}
        
    </ul>
</header>