{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}



{# {% if nbr1 is defined and nbr2 is defined %}

    {% if nbr1 > nbr2 %}
        {{nbr1}}
    {% elseif nbr1 < nbr2 %}
        {{nbr2}}
    {% elseif nbr1 == nbr2 %}
        {{"egaux"}}
    {% endif %}

{% else %}
    {% set nbr1  = 10 %}
    {% set nbr2  = 50 %}

    {% if nbr1 > nbr2 %}
        {{nbr1}}
    {% elseif nbr1 < nbr2 %}
        {{nbr2}}
    {% elseif nbr1 == nbr2 %}
        {{"egaux"}}
    {% endif %}

{% endif %} #}

{# <div class="">
    {% for i in nbrNote %}
        {{i}}
        <label>note</label>
        <input type="number" name="email" class="form-control  my-2" placeholder="Note">
    {% endfor %}
    
    <div class="col-md-12 text-center text-danger"></div>
</div> #}
{# <div class="signin">
    <div class="form-group">
        <form action="#" method="post" enctype="multipart/form-data">
            

            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary my-2" name="send" value="Valider">Valider</button>
            </div>
            <div class="col-md-12 text-center">
                <a href="inscription" title="About Us"><small class="form-text text-muted text-center">Inscription</small></a>
            </div>

        </form>
    </div>
</div> #}



{% endblock %}
