{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

{# {% for article in listeArticles %}
        <p>{{article.titre}}</p>
{% endfor %} #}
<p>{{tva}}</p>
<div class="container">
    
  {% for article in listeArticles %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Titre : {{article.titre}}</h5>
      <p class="card-text">Contenue : {{article.contenu}}</p>
      <a href="{{ path('app_article_id', {'id':article.id}) }}" class="card-link">Voir plus...</a>
    </div>
  </div>
  {% endfor %}
    
</div>

{% endblock %}
